<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title_block %}
<title>Rango</title>
<h1>Rango says...</h1>
    hey there partner! <br />
    <strong>Here is the about page<br />{{ boldmessage }}</strong><br/>
{% endblock %} 

{% block body_block %}
    <img src="{{ MEDIA_URL }}lets.PNG" alt="LETS" width="200" height="100" /><br />

    <a href="{% url 'rango:index' %}">HERE IS THE WAY BACK</a><br />
    <img src="{% static 'images/IMG_2740.jpg' %}" alt="Picture of Rango" height="1000px" width="1000px"/> 
{% endblock %}
