<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %} 
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>{{ category.name }}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %} 
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %} 
    <strong>No pages currently in category.</strong>
    {% endif %}
    <a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
    {% else %}
    The specified category does not exist.
    {% endif %}
    {% endblock %}
<!-- 
<html>
    <main>
        <head>Category!!!!</head>
        <body>
            <div>
                {% if category %} 
                    <h1>{{ category.name }}</h1>
                    {% if pages %} 
                    <ul> {% for page in views %}
                    <li><a href="{{ page.url }}">{{page.title}} has {{ page.views }} views</a></li>
                    {% endfor %} </ul>
                    {% else %} 
                    <strong> No pages currently in category</strong>
                    {% endif %} 
                {% else %} 
                <strong> This category does not exist</strong>
                {% endif %} 
                
            </div>
            <h1><a href="add-page/">Add a page</h1>
        </body>
        <foot><a href="http://localhost:8000/rango">Go back to the index</a></foot>
    </main>
</html>
 -->
