 <!DOCTYPE html>
 {% load static %}

 
 
 <ul>
    {% if categories %}
        {% for c in categories %}
            {% if c == current_category %}
                <li>
                    <strong>
                        <a href="{% url 't_w_d_app:show_category' c.slug %}">{{ c.name }}</a>
                    </strong>
                </li>
            {% else %}
                <li>
                    <a href="{% url 't_w_d_app:show_category' c.slug %}">{{ c.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    
    {% endif %}
</ul>
