<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}


{% block title_block %}
<img src="{% static 'images/IMG_2740.jpg' %}" alt="Picture of Rango" height="400px" width="400px"/> <br />
    {% if user.is_authenticated %}
        <strong>howdy {{ user.username }}!</strong>
    {% else %}
        hey there partner!
    {% endif %}
    
{% endblock %}

{% block body_block %}
    <h2>
        <Strong>Most liked categories</Strong>
        {% if categories %}
        <ul> {% for category in categories %}
            <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }} has: {{category.likes}} likes</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no cateogries here</strong>
        {% endif %}
    </h2>
    <h3>
        Most liked pages
        {% if pages %}
        <ul> {% for page in pages %}
        <li><a href="{{page.url}}">{{ page.title }} has: {{page.views}} views</a></li>
        {% endfor %}
        </ul>
        
        {% else %}
        <strong>There are no pages here</strong>
        {% endif %}
    </h3>
    <h4>
        {% for category in categories %}
        <li>
        <a href="{% url 'rango:show_category' category.slug %}">
        {{ category.name }}
        </a>
        </li>
        {% endfor %}
    </h4>

{% endblock %}
